
.undiscovered{
    font-size: 2.5em;
    color: gray;
    white-space: pre-wrap;
    font-family: sans-serif;
}

.wrong{
    font-size: 2.5em;
    color: red;
    text-decoration: underline red;
    text-decoration-skip-ink: none;
    white-space: pre-wrap;
    font-family: sans-serif;

}

.current{
    color: gray;
    font-size: 2.5em;
    text-decoration: underline orange;
    text-decoration-skip-ink: none;
    white-space: pre-wrap;
    font-family: sans-serif;

}


.correct{
    font-size: 2.5em;
    color: white;
    white-space: pre-wrap;
    font-family: sans-serif;

}

