.coll{
    border: 1px solid orange;
    width: 10vw;
    position: relative;
}
/* .tile{
    position: relative;
    top: -10vh;
    width: 10vw;
    height: 10vh;
    border: 1px solid blue;
    color: white;
} */